::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.image {
  background-image: url('./assets/images/bg-gradute1.png');
  background-repeat: no-repeat; /* لعدم تكرار الصورة */
  background-size: cover; /* تكبير أو تصغير الصورة لتغطية الخلفية بالكامل */
  background-position: center center; /* وسط الخلفية */
  position: relative;
}
.image2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.81),
      rgba(2, 2, 2, 0.57)
    ),
    url('./assets/images/last.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 95%;
}
.services-name {
  position: relative;
  width: fit-content;
}
.services-name h1::before,
.program-name h1::before {
  content: '';
  position: absolute;
  top: 75px;
  background-color: #5dc6f0;
  width: 90%;
  height: 10px;
  border-radius: 10px;
  background-color: linear-gradient(#51acd0, #5dc6f0);
}
.program-name {
  position: relative;
}
.program-name h1::before {
  width: 20rem;
}
.hh {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.p {
  color: rgba(255, 255, 255, 0.7);
}
.nav {
  color: rgba(0, 0, 0, 0.55);
}
.to {
  position: relative;
}
.EN::after {
  content: '';
  position: absolute;
  top: 1px;
  background-color: #5dc6f0;
  margin-right: 5px;
  width: 2px;
  height: 25px;
  border-radius: 10px;
  background-color: linear-gradient(#51acd0, #5dc6f0);
}
.AR::after {
  content: '';
  position: absolute;
  top: 1px;
  background-color: #5dc6f0;
  margin-right: 5px;
  width: 2px;
  height: 27px;
  border-radius: 10px;
  background-color: linear-gradient(#51acd0, #5dc6f0);
}
