::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.image {
  background-image: url('./assets/images/bg-gradute1.png');
  background-repeat: no-repeat; /* لعدم تكرار الصورة */
  background-size: cover; /* تكبير أو تصغير الصورة لتغطية الخلفية بالكامل */
  background-position: center center; /* وسط الخلفية */
  position: relative;
}
.image .overlay {
  /* display: flex;
 justify-content: end;
 flex-direction: column;
 align-items: center; */
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 95%;
}
.services-name h1::after {
  content: ''; /* المحتوى الذي سيتم إضافته */
  width: 90px;
  height: 100px;
  font-weight: bold; /* سمك الخط */
  color: red; /* لون النص */
}
