@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin-border {
  0% {
    border-color: theme('colors.red.500');
  }
  25% {
    border-color: theme('colors.green.500');
  }
  50% {
    border-color: theme('colors.blue.500');
  }
  75% {
    border-color: theme('colors.purple.500');
  }
  100% {
    border-color: theme('colors.red.500');
  }
}
@layer components {
  .lableStyle {
    @apply w-36  inline-block;
  }
  .inputStyle {
    @apply w-[170px] outline-none  border border-neutral-950 rounded-sm  px-1 focus:scale-105 h-5 border-solid;
  }
  .main-btn {
    @apply p-1 w-32  text-black font-semibold shadow   bg-main hover:shadow-main transition-shadow duration-200 shadow-slate-600  rounded-md;
  }
  .home-btn {
    @apply bg-main w-[13rem] p-2 rounded-md  text-2xl mt-9 text-whiteText font-serif font-semibold cursor-pointer hover:bg-emerald-400 hover:text-main transition-all  hover:scale-110;
  }

  .nav-link {
    @apply p-3  inline-block text-[14px] font-semibold tracking-wide hover:bg-main rounded-md;
  }
  .ser-card {
    @apply flex flex-col justify-between items-center shadow-lg text-center mb-10 min-h-72  rounded-lg w-60 p-5    border-2;
  }
  .ser-card:hover {
    transform: scale(110%);
    animation: spin-border linear infinite 1.5s;
    animation-name: spin-border;
  }
  .stats-card {
    @apply border rounded-sm text-white  text-center hover:border-main transition-all p-2;
  }
  .stats-num {
    @apply font-sans text-5xl font-medium text-second text-center mt-5;
  }
  .stats-name {
    @apply font-sans text-3xl font-semibold  text-main mt-9;
  }
}
.active {
  color: rgb(0, 248, 29);
}
